<div class="p-3 mb-4 bg-primary text-center text-white"><h1>User management</h1></div>

<div class="container">
  <div class="mt-5 mb-5 text-center">
    <button class="btn btn-primary mr-3" (click)="onManageClick()">Manage</button>
    <button class="btn btn-primary" (click)="onUsersAndGroupsClick()">Users and Groups</button>
  </div>

  <div class="row justify-content-center">
    <div class="row flex-column app-item" *ngIf="page==='Manage'">
      <app-new-user class="p-2"></app-new-user>
      <app-new-group class="p-2"></app-new-group>
    </div>

    <ng-container *ngIf="page==='Users and Groups'">
      <app-users class="p-2 app-item"></app-users>
      <app-groups class="p-2 app-item"></app-groups>
    </ng-container>
  </div>
</div>


